* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.header {
  padding: 20px 30px;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header h1 {
  float: left;
  /* text-align: center; */
  width: 50%;
}

.header .nav {
  float: left;
  margin-top: 15px;
  text-align: end;
  width: 50%;
}

.header .nav-list li {
  list-style: none;
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #444;
  padding: 10px;
  transition: all 0.3s ease;
}

a:hover {
  background: #222;
  color: #eee;
}

.active { 
  color: red;
  text-decoration: underline;
}

.container {
  margin: auto;
  max-width: 95%;
}

.note-list {
  margin: auto;
  width: 70%;
}

.note {
  margin: 25px;
  border-bottom: 1.5px solid black;
  padding-bottom: 10px;
}

.note span{ 
  display: inline-block;
}

.note .note-title {
  margin-left: 15px;
}

.note .note-date { 
  padding-bottom: 15px;
}

.note .delete-btn {
  float: right;
  margin-right: 10px;
  transition: transform 0.8s ease;
}

.note .delete-btn:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  /* display: none; */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: popup 1s ease;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 5% auto 15%;
  max-width: 820px;
  width: 60%;
}

.modal-content h1 {
  padding: 40px 0 60px;
  text-align: center;
}

/* .modal-content input[type=email], .modal-content input[type=password]{
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 12px;
  width: 100%;
} */

.modal-content input:not([type=checkbox]){
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 12px;
  width: 100%;
}

.btn {
  border: none;
  color: #f4f4f4;
  outline: none;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  transition: all 0.4s ease;
}

.btn:hover {
  opacity: 0.8;
}

.login-btn {
  background: #4CAF50;
  margin-top: 50px;
  padding: 15px 0;
  width: 100%;
}

.cancel-btn {
  background: #af4c53;
  margin: 20px 0;
  padding: 10px 15px;
}

#register-form {
  margin: 5% auto 15%;
  max-width: 820px;
  width: 60%;
}

#register-form input:not([type=checkbox]){
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 12px;
  width: 100%;
}

.register-btn {
  background: #4CAF50;
  padding: 15px 0;
  width: 100%;
}

.not-ready {
  background-color: grey !important;
  cursor: default;
  transition: none;
}

.not-ready:hover {
  opacity: 1;
}

.msg {
  width: 100%;
  color: #f4f4f4;
  margin-bottom: 20px;
  height: 41px;
}

.error-msg {
  background-color: #eb4646;
  padding: 10px;
  animation: showMsg 0.8s ease;
}

.success-msg {
  background-color: #eb4646;
  padding: 10px;
}

#note-form { 
  width: 70%;
  margin: auto;
  text-align: center;
}

#note-form input {
  padding: 10px 5px;
  width: 95%;
} 

.add-btn {
  background-color: #4CAF50;
  width: 5%;
  padding: 12px 5px;
} 

@keyframes popup {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes showMsg {
  from { opacity: 0;}
  to { opacity: 1;}
}